{% extends 'base.html.twig' %}

{% block title %}Content Security Policy{% endblock %}

{% block app %}
    <div id="app_csp">
        <h2>Content Security Policy</h2>
        <h5>Request</h5>
        <form action="{{ path('csp') }}">
            <div class="form-group">
                <label for="policy">Policy</label>
                <textarea class="form-control" id="policy" name="policy"
                          required>default-src *</textarea>
            </div>
            <div class="form-group">
                <label for="payload">Payload</label>
                <textarea class="form-control" id="payload" name="payload"
                          placeholder=""
                          required>&lt;img src=&quot;img/cat.jpg&quot; /&gt;</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
        <div class="response">
            <h5>Response</h5>
            <label for="response_policy">Policy</label>
            <div id="response_policy" class="border">
                {% if policy is defined %}
                    {{ policy }}
                {% endif %}
            </div>
            <label for="response_payload">Payload</label>
            <div id="response_payload" class="border">
                {% if payload is defined %}
                    {{ payload|raw }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}